.ant-picker {
    margin-top: 24px;
    padding: 10px;
    color: black;
    border-radius: 16px;
    font-weight: normal;
    border-color: #D7D9DF;
    font-family: sans-serif;
    background-color: white;

    .ant-picker-input>input {
        font-size: 1.2rem;
    }
}